.header__logo {
    width: 142px;
    height: 33px;
    margin-bottom: 41px;
}

@media (max-width: 425px) {
    .header__logo {
        width: 103px;
        height: 24px;
        margin: 0 0 31px 27px;
    }
}