.profile__info {
    display: grid;
    grid-template-columns: max-content min-content;
    column-gap: 18px;
    row-gap: 16px;
    margin-left: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media (max-width: 566px) {
    .profile__info {
        text-align: center;
        margin: 26px 0 0 0;
        column-gap: 10px;
        row-gap: 14px;
        padding: 0 10px;
    }
}
