.elements__item-name {
    color: #000;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.2;
    margin: 25px auto 31px 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}